



.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color:azure;
	font-size: 1.3rem;
	line-height: 1.5;
}


.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: blue;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}


.features .form-control,
.features input {
	border-radius: 0;
}
